/* Tailwind */  
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    overflow: hidden;
}

body{
    overflow: auto;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

/*Ocultar el scrollbar*/
::-webkit-scrollbar {
    display: none;
}
/*anchor tags*/
a, a:hover, a:focus, a:active {
    color: inherit;
    text-decoration: none;
}

/*Media Querys*/

/* Mobile 320px */
/* Tablet 768px */
@media screen and (max-width: 600px) {
    html{
        font-size: 90%;
    }
    .responsive{
        width: 0px;
        display: none;
    }
    .leftmenu{
        width: 30px !important;
        text-align: center !important;
        align-items: center !important;
    }
}
/* Desktop 1024px */
/* Desktop1 1440px */
/* Desktop2 2000px */